<div class="cont"></div>
<div class="mx-32 mt-24 text-white grid place-items-center">
   <div class="flex tracking-widest space-x-96 space-y-24">
    <div class="text-[32px] flex flex-col">
        <p class="text-[#D0D6F9]">SO, YOU WANT TO TRAVEL TO</p>
        <div class="text-[150px]">
            <p>SPACE</p>
        </div>
        <div class="text-base max-w-md">
            <p>Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!</p>
        </div>
    </div> 
    <div class="text-[56px] text-black font grid">
        <p class="p-10 rounded-[50%] bg-white w-[300px] h-[300px] grid place-content-center">EXPLORE</p>
    </div>
   </div>
</div>